[project]
name = "ssc-codegen"
description = "generate web scrapers structures by dsl-like language based on python"
dynamic = ["version"]
authors = [{ name = "vypivshiy" }]
readme = "README.md"
license = "MIT"
requires-python = ">=3.10"
keywords = []
classifiers = [
    "Development Status :: 3 - Alpha",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: Implementation :: CPython",
    "Topic :: Internet",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Text Processing"
]
dependencies = [
    'typer>=0.12.3',
    'black>=24.4.2',
    'Jinja2>=3.1.4',
    'lxml>=5.0.0',
    'cssselect>=1.2.0'
]
[project.optional-dependencies]
dev = ["ruff", "mypy", "isort"]

[tool.hatch.version]
path = "ssc_codegen/__init__.py"

[project.scripts]
ssc-gen = 'ssc_codegen.cli:script_entry_point'

[project.urls]
Documentation = "https://github.com/vypivshiy/selector_schema_codegen#readme"
Issues = "https://github.com/vypivshiy/selector_schema_codegen/issues"
Source = "https://github.com/vypivshiy/selector_schema_codegen"
Examples = "https://github.com/vypivshiy/selector_schema_codegen/examples"


[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"


[tool.ruff]
target-version = "py310"
line-length = 80
exclude = ["__init__.py"]

[tool.mypy]
python_version = "3.10"
pretty = true
ignore_missing_imports = true
disallow_untyped_defs = true
show_error_codes = true
no_implicit_optional = true
mypy_path = 'ssc_codegen'

[tool.black]
line-length = 80
target-version = ["py310"]

[tool.isort]
profile = "black"
