[tool.poetry]
name = "ssc_codegen"
version = "0.1.2"
description = "generate selector schemas classes from yaml config and DSL-lang script"
authors = ["georgiy <59173419+vypivshiy@users.noreply.github.com>"]

[tool.poetry.dependencies]
python = "^3.10"
PyYAML = "^6.0.1"
Jinja2 = "^3.1.2"
cssselect = "^1.2.0"

[tool.poetry.dev-dependencies]
mypy = "^1.6.1"
black = "^23.10.1"
isort = "^5.12.0"
ruff = "^0.1.4"
pre-commit = "^3.5.0"
pytest = "^7.4.3"

[tool.poetry.scripts]
ssc-gen="ssc_codegen.cli:main"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.ruff]
target-version = "py310"
line-length = 80
exclude = ["__init__.py"]


[tool.mypy]
python_version = "3.10"
pretty = true
ignore_missing_imports = true

[tool.black]
line-length = 80
target-version = ["py310"]

[tool.isort]
profile="black"
