[tool.poetry]
name = "ssc_codegen"
version = "0.1.3"
description = "generate selector schemas classes from yaml config and DSL-lang script"
authors = ["vypivshiy"]
readme = "README.md"
license = "MIT"
keywords = []
classifiers = [
  "Development Status :: 3 - Alpha",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: Implementation :: CPython",
  "Topic :: Internet",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Text Processing"
]

[project.urls]
Documentation = "https://github.com/vypivshiy/selector_schema_codegen#readme"
Issues = "https://github.com/vypivshiy/selector_schema_codegen/issues"
Source = "https://github.com/vypivshiy/selector_schema_codegen"
Examples = "https://github.com/vypivshiy/selector_schema_codegen/examples"

[tool.poetry.dependencies]
python = "^3.10"
PyYAML = "^6.0.1"
Jinja2 = "^3.1.2"
cssselect = "^1.2.0"

[tool.poetry.dev-dependencies]
mypy = "^1.6.1"
black = "^23.10.1"
isort = "^5.12.0"
ruff = "^0.1.4"
pre-commit = "^3.5.0"
pytest = "^7.4.3"

[tool.poetry.scripts]
ssc-gen="ssc_codegen.cli:main"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.ruff]
target-version = "py310"
line-length = 80
exclude = ["__init__.py"]


[tool.mypy]
python_version = "3.10"
pretty = true
ignore_missing_imports = true

[tool.black]
line-length = 80
target-version = ["py310"]

[tool.isort]
profile="black"
