(list)struct News {
    @split-doc {
        css-all ".submission"
    }

    title {
        css ".title > .titleline > a"
        text
    }
    rank {
        css ".rank"
        text
        re-sub #"\D"# "" //remove non-digit chars
        to-int
    }
    id {
        attr id
        to-int
        fallback #null
    }
    votelink {
        css ".votelinks a[href]"; attr href
        fmt "https://news.ycombinator.com/{{}}"
        fallback #null
    }
    url {
        css ".title > .titleline > a[href]"; attr href
    }
}

(list)struct Rating {
    @split-doc { css-all "tr > .subtext > .subline" }

    score {
        css "span.score[id^=\"score_\"]"
        text
        re-sub #"\D"# ""
        to-int
        fallback 0
    }
    author {
        css "a.hnuser[href]"
        attr href
        fmt "https://news.ycombinator.com/{{}}"
        fallback #null
    }
    date { css "span.age[title]"; attr title; fallback #null }
    date-text { css "span.age[title]"; text; fallback #null }
    url { css "a[href^='item?']"; attr href; fmt "https://news.ycombinator.com/{{}}" }
    comments {
        css "a[href^='item?']"
        text
        re-sub #"\D"# ""
        to-int
        fallback 0
    }
}


struct MainPage {
    @request """
    curl https://news.ycombinator.com?p={{page-num}}
    """

    news { nested News }
    ratings { nested Rating }
}

(list)struct Comments {
    @split-doc {
        css-all "table.comment-tree tr.comtr[id] > td > table"
    }

    indent { css ".ind[indent]"; attr "indent"; to-int; fallback 0 }
    user { css ".comhead > a.hnuser"; text }
    user-url { css ".comhead > a.hnuser[href]"; attr href }
    date { css ".comhead .age[title]"; attr title; fallback #null }
    date-text { css ".comhead .age[title] >a[href^='item?']"; text; fallback #null }
    // NOTE: not uncluded unwrap features, inner urls returns "as it"
    text { css ".default > .comment > .commtext"; text }
    reply { css ".reply a[href]"; attr href; fmt "https://news.ycombinator.com/{{}}"; fallback #null }
}

struct MainDiscussionPage {
    @request """
    curl https://news.ycombinator.com/item?id={{id}}
    """

    title { css ".titleline > a"; text }
    url { css ".titleline > a[href]"; attr href }
    score { css ".subline > .score"; text; re-sub #"\D"# ""; to-int; fallback 0 }
    user { css ".subline .hnuser"; text }
    user-url { css ".subline .hnuser[href]"; attr href; fmt "https://news.ycombinator.com/{{}}" }
    date { css ".subline .age[title]"; attr title }
    date-text { css ".subline .age[title] > a[href^='item?']"; text }
    comments-count { 
        css ".subline > a[href^='item?']"; text
        re-sub #"\D"# ""
        to-int
        fallback 0
    }
    comments { nested Comments }
}


