(list)struct FindPageResults {
    @split-doc {
        css-all "ul.ipc-metadata-list > li.ipc-metadata-list-summary-item"
    }

    image {
        css "img.ipc-image[src]"
        attr src
        fallback #null
    }

    image-alt {
        css "img.ipc-image[alt]"
        attr alt
        fallback #null
    }
    title {
        css "a.ipc-metadata-list-summary-item__t"
        text
    }
    url {
        css "a.ipc-metadata-list-summary-item__t[href]"
        attr href
        fmt "https://www.imdb.com{{}}"
    }
    year {
        css "ul.ipc-metadata-list-summary-item__tl > li:first-child > span"
        text
        re-sub #"\D"# ""
        to-int
        fallback #null
    }
}

json TitlePosterImageModel {
    url str
    maxHeight int
    maxWidth int
    caption str
}

json Results {
    id str
    titleNameText str
    titleReleaseText str
    titleTypeText str
    titlePosterImageModel TitlePosterImageModel
    topCredits (array)str
    imageType str
    seriesId str?
    seriesNameText str?
    seriesReleaseText str?
    seriesTypeText str?
    seriesSeasonText str?
    seriesEpisodeText str?
}

json Content {
    results (array)Results
    hasExactMatches bool
}

struct SearchPage {
    json-parse {
        css "script[id='__NEXT_DATA__']"
        text
        // should be use path for extract useful data and increase stability
        jsonify Content path="props.pageProps.titleResults"
    }
    selector-parse { nested FindPageResults }
}


