json Author {
    name str
    goodreads_links str
    slug str
}

(array)json Quote {
    tags (array)str
    // reference structure
    author Author
    text str
}


struct Main {
    data {
        raw
        re #"""
            (?xs)
            var\s+data\s*=\s*     # START ANCHOR: var data =
            (
                \[                # START_ARRAY
                .*                # JSON DATA
                \]                # END_ARRAY
            )
            ;\s+for               # END ANCHOR: ; for
            """#
        jsonify Quote
    }
    first-quote {
        raw
        re #"""
            (?xs)
            var\s+data\s*=\s*
            ( \[ .* \] )
            ;\s+for
            """#
        jsonify Quote path="0"
    }
    second-quote {
        raw
        re #"""
            (?xs)
            var\s+data\s*=\s*
            ( \[ .* \] )
            ;\s+for
            """#
        jsonify Quote path="1"
    }
    third-slug {
        raw
        re #"""
            (?xs)
            var\s+data\s*=\s*
            ( \[ .* \] )
            ;\s+for
            """#
        jsonify Quote path="2.author.slug"
    }
}
