class {{ struct.name }}(_BaseStructParser):
    """{%- if struct.docstring %}{{ struct.docstring }}{%- endif %}
    {{ schema_doc_signature(struct) }}
    """
    def __init__(self, document: str):
        super().__init__(document)
        self._cached_result: _T_LIST_ITEMS = []
    {% if struct.pre_validate -%}
    def _pre_validate(self, doc: BeautifulSoup) -> None:
    {%- for line in struct.pre_validate.code(converter) %}
    {{ line }}
    {%- endfor %}
    {%- endif %}

    def _part_document(self) -> ResultSet:
        doc = self.__selector__
    {%- for line in struct.split_document.code(converter) %}
    {{ line }}
    {%- endfor %}

    def _start_parse(self):
        self._cached_result.clear()
        for part in self._part_document():
            self._cached_result.append({
        {% for method in struct.methods %}
            "{{ method.name }}": self._parse_{{ method.name }}(part),
        {% endfor %}
        })

    def view(self) -> _T_LIST_ITEMS:
        return self._cached_result

{% for method in struct.methods %}
    def _parse_{{ method.name }}(self, doc: Tag):
    {%- if method.docstring %}
        """{{ method.docstring }}
        """
    {% endif %}
    {%- for line in method.code(converter) %}
    {{ line }}
    {%- endfor -%}

{% endfor %}