json Err { code int; message str }
json User { id int; name str }
struct API type=rest {
    @error 404 Err error detail
    @request response=User """
    GET /users/{{id}} HTTP/1.1
    Host: api.example.com
    """
}
