json User { id int; name str }
struct API type=rest {
    @request response=User """
    POST /users HTTP/1.1
    Host: api.example.com
    Content-Type: application/x-www-form-urlencoded

    name={{name}}&active={{active:bool}}
    """
}
