{%- if struct.docstring %}
{%- for line in struct.docstring.split('\n') %}
/// {{ line.strip() }}
{%- endfor %}
{%- endif %}
{{ schema_doc_signature(struct, prefix='///') }}
class {{ struct.name }} extends _BaseStructParser {
  {{ struct.name }}(super.document);

  @override
  DictItem view(){
    return _cachedResult[0];
  }

  {% if struct.pre_validate -%}
  @override
  _preValidate(Document doc){
    {%- for line in struct.pre_validate.code(converter) %}
    {{ line }}
    {%- endfor %}
  }
  {% endif %}

  _partDocument(Document doc){
    {%- for line in struct.split_document.code(converter) %}
    {{ line }}
    {%- endfor %}
  }

  @override
  _startParse(){
    _cachedResult.clear();
    final tmp = {};
    for (var part in _partDocument(selector)){

      {%- for method in struct.methods %}
      tmp['{{ method.name }}'] = _parse{{ toCamel(method.name) }}(part);
      {%- endfor %}
    }
    _cachedResult.add(tmp);
  }
  {% for method in struct.methods %}
  {%- if method.docstring %}
  {%- for line in method.docstring.split('\n') %}
  /// {{ line.strip() }}
  {%- endfor %}
  {%- endif %}
  _parse{{ toCamel(method.name) }}(LIElement doc){
  {%- for line in method.code(converter) %}
  {{ line }}
  {%- endfor %}
  }
  {% endfor %}
}