{%- if struct.docstring %}
{%- for line in struct.docstring.split('\n') %}
/// {{ line.strip() }}
{%- endfor %}
{%- endif %}
{{ schema_doc_signature(struct, prefix='///') }}
class {{ struct.name }} extends _BaseStructParser {
  {{ struct.name }}(super.document);

  @override
  DictItem view(){
    return _cachedResult[0];
  }

  {% if struct.pre_validate -%}
  @override
  _preValidate(Document doc){
    {%- for line in struct.pre_validate.code(converter) %}
    {{ line }}
    {%- endfor %}
  }
  {% endif %}

  @override
  _startParse(){
    _cachedResult.clear();
    _cachedResult.add({
    {%- for method in struct.methods %}
        '{{ method.name }}': _parse{{ toCamel(method.name) }}(selector),
    {%- endfor %}
        });
  }
  {% for method in struct.methods %}
  {%- if method.docstring %}
  {%- for line in method.docstring.split('\n') %}
  /// {{ line.strip() }}
  {%- endfor %}
  {%- endif %}
  _parse{{ toCamel(method.name) }}(Document doc){
  {%- for line in method.code(converter) %}
  {{ line }}
  {%- endfor -%}
  }
  {% endfor %}
}